:root {
    --light: #c3cbcc;
    --dark-blue: #303b5a;
    --light-blue: #b9d5da;
    --dark: #2c2c41;
}
  
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
body {
    color: var(--dark-blue);
    font-family: Helvetica, Arial, sans-serif;
}
  
 
/* HEADER / NAV BAR STYLES START */
header {
    padding: 5px 0;
    background-color: var(--dark);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}
  
header h1 {
    font-weight: bold;
    font-size: 30px;
    color: var(--dark);
    background-color: var(--light-blue);
    width:250px;
    text-align: right;
}

header h1 a {
    text-decoration: none;
    color: var(--dark);
    margin: 5px 10px 5px 5px;
    padding: 5px;
 }  

header nav {
    text-decoration: none;
    margin: 5px 40px 5px 5px;
}
  
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-end;
    list-style: none;
}
  
header nav ul li a {
    color: var(--light-blue);
    padding: 5px 5px;
    font-weight: lighter;
    font-size: 1.2vw;
}
  
header nav ul li a:hover {
    color: var(--light-blue);
}
/* HEADER / NAVBAR STYLES END */
  
  
/* HERO STYLES START */
.hero {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-content: flex-end;
  background-image: url('../images/hero.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: 100%;
}

.hero h2 {
  font-size: 25px;
  color: var(--dark);
  background-color: var(--light-blue);
  margin: 5px 40px 15px 5px;
  padding: 2px  ;
}
/* HERO STYLES END */
  

  
  /* STYLE ALL SECTION TAGS */
  section {
    padding: 150px 0 0 0;
  }
  



  /* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
    }
  
    header h1 {
      width: 100%;
      text-align: center;
    }
  
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a {
      font-size: 20px;
    }
  
    footer h2, footer div {
      text-align: center;
      width: 100%;
    }
  
    .hero-cta, .hero-form {
      width: 100%;
    }
    
    .hero-cta {
      text-align: center;
    }
  
    .section-title {
      width: 80%;
    }
    
    .trainer {
      flex: 0 70%;
    }
    
    .contact-info iframe{
      flex: 1 100%;
    }
  }
  
  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {
    section {
      padding: 30px 15px;
    }
  
    .step h3 {
      flex: 1 100%;
      text-align: center;
    }
  
    .step-info {
      flex: 2 100%;
      text-align: center;
      justify-content: center;
    }
  
    .step-img {
      flex: 0 32%;
      margin-right: 0;
      margin-top: 15px;
      margin-bottom: 15px;
    }
  
    .step-text {
      flex: 100%;  
    }
    
    .service-grid-container {
      grid-template-columns: 1fr 1fr;
    }
  
    .service-grid-item.basic {
      grid-column: 1;
    }
  
    .service-grid-item.both {
      grid-column: 1 / -1;
    }
  
    .service-grid-item.cancel {
      transform: none;
      writing-mode: unset;
      grid-column: 1 / -1;
      grid-row: -1;
    }
  
    .trainer-img h3, .trainer-img h4, .trainer-img::after {
      display: none;
    }
  
    .trainer-bio h3, .trainer-bio h4 {
      display: block;
    }
  }
  
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
    .hero-form button {
      width: 100%;
    }
  
    .section-title {
      width: 95%;
    }
  
    .intro p {
      width: 100%;
    }
  
    .trainer {
      flex: 0 100%;
    }
  
    .contact-info {
      text-align: center;
    }
  
    .contact-info > * {
      flex: 0 100%;
    }
  
    .contact-form {
      order: 3;
    }
  }