:root {
  --light: #e2ebec;
  --light-blue: #a6c2c7;
  --dark: #2c2c41;
}
  
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
  
body {
  color: var(--dark);
  background-color: var(--light) ;
  font-family: Helvetica, Arial, sans-serif;
}

/* STYLE ALL SECTION TAGS START*/
section {
  padding: 20px;
}
/* STYLE ALL SECTION TAGS END*/
 
/* HEADER / NAV BAR STYLES START */
header {
  padding: 5px 0;
  background-color: var(--dark);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;
  z-index: 9999;
}
  
header h1 {
  font-weight: bold;
  font-size: 30px;
  color: var(--dark);
  background-color: var(--light-blue);
  width:250px;
  text-align: right;
}

header h1 a {
  text-decoration: none;
  color: var(--dark);
  margin: 5px 10px 5px 5px;
  padding: 5px;
 }  

header nav {
  text-decoration: none;
  margin: 5px 40px 5px 5px;
}
  
header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-end;
  list-style: none;
}
  
header nav ul li a {
  color: var(--light-blue);
  padding: 5px 5px;
  font-weight: lighter;
  font-size: 1.2vw;
}
  
header nav ul li a:hover {
  color: var(--light-blue);
}
/* HEADER / NAVBAR STYLES END */
  
/* HERO STYLES START */
.hero {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-content: flex-end;
  background-image: url('../images/hero.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: 100%;
  padding: 150px 0 0 0;
}

.hero h2 {
  font-size: 25px;
  color: var(--dark);
  background-color: var(--light-blue);
  margin: 5px 40px 15px 5px;
  padding: 2px  ;
}
/* HERO STYLES END */
  
/* CATEGORIES START */
.flex-row {
  display: flex;
}

.section-title {
  font-size: 40px;
  padding-right: 20px;
  text-align:right;
  margin: 0 0 0 35px;
  width: 25%;
}

.category p {
  border-left: 3px solid;
  padding: 0 20px 0 20px;
  width: 75%;
}
/* CATEGORIES END */
  
/* GRID BEGIN */
.grid-wrapper {
  width: 100%;
  display: flex;
  align-content: flex-end;
  justify-content: flex-start;
  border-left: 3px solid;
  padding: 0 20px 0 20px;
  width: 75%;
  flex-wrap: wrap;
}

.grid-container {
  width: 100%;
  display: grid;
  /* repeat(iterator, size) */
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: repeat(3, 175px);
  color:  var(--dark);
  font-size: 1.2rem;
  grid-gap: 10px;
}

.grid-container a{
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  background-color:  rgba(255,255,255, 0) ;
  width: 100%;
  height: 100%;
  color:  var(--dark);
  font-size: 1.2rem;
}

.grid-item {
  padding: 10px 0;
  border: 2px solid var(--light-blue);
  display: flex;
  align-content: flex-end;
  justify-content: flex-start;
  flex-wrap: wrap;
}



.grid-item:first-child {
  grid-column: span 2;
  grid-row: span 2;
  background-image: url(../images/im1.jpg) ;
  background-size: cover;
}
.grid-item:nth-child(2) {
  background-image: url(../images/im2.jpg);
  background-size: cover;
}
.grid-item:nth-child(3) {
  background-image: url(../images/im3.jpg);
  background-size: cover;
}
.grid-item:nth-child(4) {
  background-image: url(../images/im4.jpg);
  background-size: cover;
}
.grid-item:nth-child(5) {
  background-image: url(../images/im5.jpg);
  background-size: cover;
}

.grid-item h3 {
  font-size: 20px;
  background-color: var(--light-blue);
}
/* GRID END */

/* CONTACt ME START */
.category nav {
  text-decoration: none;
  border-left: 3px solid;
  padding: 0 20px 0 20px;
  width: 75%;
}
  
.category nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-end;
  list-style: none;
}

.category nav ul li {
  padding: 30px 30px;
}

.category nav ul li a {

  color: var(--dark);
  font-size: 1.3vw;
  font-weight: bold;
}

/* CONTACT ME END */

  /* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  
    header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
    }
  
    header h1 {
      width: 100%;
      text-align: center;
    }
  
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a {
      font-size: 16px;
    }

    .grid-item h3 {
      font-size: 16px;
    }
    .category nav ul li a {
      font-size: 16px;
    }

  }
  
  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {

    section {
      padding: 30px 15px;
    }
    .section-title {
      width: 95%;
    }
    .grid-item h3 {
      font-size: 10px;
    }
    
  }
  
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
    
    .grid-item:first-child {
      grid-column: span 1;
      grid-row: span 1;
      background-image: url(../images/im1.jpg) ;
      background-size: cover;
    }
    .grid-item h3 {
      font-size: 8px;
    }
    
  }