:root {
    --light: #c3cbcc;
    --dark-blue: #24165a;
    --light-blue: #8dd6df;
    --dark: #8dd6df;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    color: var(--dark-blue);
    font-family: Helvetica, Arial, sans-serif;
  }
  
  
  /* HEADER / NAV BAR STYLES START */